/* CSS Reset copied from: http://meyerweb.com/eric/tools/css/reset/ */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio,
video
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
{
    display: block;
}
body
{
    line-height: 1;
}
blockquote, q
{
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after
{
    content: '';
    content: none;
}
table
{
    border-collapse: collapse;
    border-spacing: 0;
}


/* Begin Style */
body
{
    background: #F0F0F0;
    margin: 0;
    padding: 0;
    font-family: arial, verdana, sans-serif; 
}

h1
{
    font-size: 2em;
    font-weight: bold;
    margin: 0.67em 0;
}

h2
{
    color: #0000FF;
    font-size: 1.3em;
    font-weight: bold;
    margin: 0.67em 0;
}

h3
{
    font-size: 1.17em;
    font-weight: bold;
    margin: 1em 0;
}

h4
{
    font-weight: bold;
    margin: 1.33em 0;
}

h5
{
    font-size: 0.83em;
    font-weight: bold;
    margin: 1.67em 0;
}

h6
{
    font-size: 0.67em;
    font-weight: bold;
    margin: 2.33em 0;
}

p
{
    margin: 1em 0;
}

blockquote
{
    margin: 1em 40px;
}

ol
{
    list-style-type: decimal;
    margin: 1em 0;
    padding: 0 0 0 40px;
}

ul
{
    list-style-type: disc;
    margin: 1em 0;
    padding: 0 0 0 40px;
}

.page
{
    max-width: 1200px;
    margin: auto;
}

.header
{
    margin: 0 16px;
    overflow: auto;
}

.headlogo
{
    float: left;
    margin: 4px 0;
}

.prodid
{
    float: left;
    font-size: 4em;
    margin: 0.75em 0 0 20px;
}

.content
{
    margin: 0 16px;
}

.navbar
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #203040;
}

.navbutton
{
    float: left;
}

.navbutton a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbutton a:hover
{
    background-color: #101010;
    text-decoration: underline;
}

.code
{
    background-color: #E8E8E0;
    border: 1px solid black;
    color: black;
    margin: 0px 16px;
    padding: 0px 16px;
    font-family: "courier new", courier, monospace;
}
