body
{
		background-color: #FFFFE0;
		color: #600000;
		font-family: arial, verdana, sans-serif;
}

div.code
{
		background-color: #F8F8F8;
		border: 1px solid black;
		color: black;
		margin: 0px 20px 0px 20px;
		padding: 0px 20px 0px 20px;
}
